:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsla(var(--background));
  color: hsla(var(--foreground));
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header a {
  text-decoration: none;
}

header h1 {
  color: hsla(var(--foreground));
  font-size: 1.5rem;
  margin: 0;
}

header .desktop-nav {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

header .mobile-nav {
  position: relative;
  display: none;
}

header .mobile-nav button {
  width: 18px;
  height: 2px;
  background: hsla(var(--foreground));
  border: none;
  transition: 0.2s;
  box-shadow: 0 6px 0 0 hsla(var(--foreground)),
    0 -6px 0 0 hsla(var(--foreground));
}

header .mobile-nav.open button {
  transform: rotate(90deg);
}

header .mobile-nav nav {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 1rem;
  left: 0;
  top: 30px;
  background: hsla(var(--background));
  z-index: 100;
  border: 1px solid hsla(var(--border));
  padding: 1rem;
  border-radius: 0.5rem;
}

header .mobile-nav.open nav {
  display: flex;
}

header nav a {
  font-size: 0.875rem;
  color: hsla(var(--muted-foreground));
  padding: 1rem 0;
  font-weight: bold;
  transition: color 0.2s;
}

header .mobile-nav a {
  padding: 0;
}

header nav a:hover {
  color: hsla(var(--foreground));
}

header nav a.active {
  color: hsla(var(--foreground));
}

hr {
  background-color: hsla(var(--secondary-foreground));
  border: 0;
  margin: 0;
  height: 1px;
}

main {
  max-width: 1480px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main .title {
  margin-bottom: 1.75rem;
  font-weight: bold;
  color: hsla(var(--primary));
}

main .carousel {
  min-width: 250px;
}

main .img {
  aspect-ratio: 2.5;
  object-fit: cover;
  background-color: hsla(var(--primary));
  border-radius: 0.5rem;
}

.highlights .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: hsla(var(--muted-foreground));
}

.highlights .carousel-indicators button.active {
  background-color: hsla(var(--foreground));
}

.map iframe {
  min-width: 250px;
  border-radius: 0.5rem;
  aspect-ratio: 2.5;
}

.albuns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.albuns .album {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.album .album-info strong {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.album .album-info span {
  font-size: 0.875rem;
  color: hsla(var(--muted-foreground));
}

.albuns .album img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: 0.2s;
}

.albuns .album .img-wrapper {
  overflow: hidden;
  border-radius: 0.5rem;
}

.albuns .album img:hover {
  scale: 1.05;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem 1rem;
  max-width: 1080px;
  margin: 0 auto;
}

footer strong {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  display: block;
}

footer .about p {
  max-width: 600px;
}

footer .info {
  display: flex;
  align-items: start;
  gap: 1rem;
}

footer .info img {
  border-radius: 0.5rem;
  width: 60px;
  aspect-ratio: 1;
}

footer .info .student-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.student-info .social ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.student-info .social ul li {
  background: hsla(var(--muted));
  padding: 0.25rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.student-info .social ul li a {
  text-decoration: none;
  color: hsla(var(--primary));
  line-height: 0;
}

.student-info .social ul li a i {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: row-reverse;
  }

  header .desktop-nav {
    display: none;
  }

  header .mobile-nav {
    display: block;
  }

  main {
    gap: 2rem;
    padding: 1.5rem;
  }

  main .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  main .img {
    aspect-ratio: 2;
  }

  .map {
    margin-top: 2rem;
  }

  .map iframe {
    aspect-ratio: 2;
  }

  .album .album-info strong {
    font-size: 1.125rem;
  }

  footer {
    grid-template-columns: 1fr;
  }
}
