:root {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 35.5 91.7% 32.9%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(var(--background));
  color: hsla(var(--foreground));
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

header nav {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

header nav a {
  font-size: 0.875rem;
  color: hsla(var(--muted-foreground));
  text-decoration: none;
  padding: 1rem 0;
  font-weight: bold;
  transition: color 0.2s;
}

header nav a:hover {
  color: hsla(var(--foreground));
}

header nav a.active {
  color: hsla(var(--foreground));
}

hr {
  background-color: hsla(var(--foreground));
  border: 0;
  margin: 0;
  height: 1px;
}

main {
  max-width: 1480px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main .title {
  margin-bottom: 1.5rem;
}

main .img {
  aspect-ratio: 2.5;
  object-fit: cover;
  background-color: hsla(var(--primary));
  border-radius: 0.5rem;
}

.highlights .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: hsla(var(--muted-foreground));
}

.highlights .carousel-indicators button.active {
  background-color: hsla(var(--foreground));
}

.map iframe {
  border-radius: 0.5rem;
  aspect-ratio: 2.5;
}

.albuns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.albuns .album {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.album .album-info strong {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.albuns .album img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: 0.2s;
}

.albuns .album .img-wrapper {
  overflow: hidden;
  border-radius: 0.5rem;
}

.albuns .album img:hover {
  scale: 1.05;
}

@media (max-width: 768px) {
  main {
    gap: 2rem;
  }

  main .title {
    margin-bottom: 0.5rem;
  }

  main .img {
    aspect-ratio: 2;
  }

  .map {
    margin-top: 2rem;
  }

  .map iframe {
    aspect-ratio: 2;
  }
}
